---
updates:
  # Github-actions dependancies
  - directory: "/"
    package-ecosystem: "github-actions"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "fix"

  # NPM dependancies -- only prompt to update minor versions.
  - directory: "/"
    package-ecosystem: "npm"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    commit-message:
      prefix: "fix"

  # Docker dependencies
  - directory: "/"
    package-ecosystem: "docker"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "fix"

  # Docker dependencies
  - directory: "/terraform"
    package-ecosystem: "terraform"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "fix"

version: 2
